<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>homepageServlet</servlet-name>
        <servlet-class>servlet.homepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favoritelistServlet</servlet-name>
        <servlet-class>servlet.favoritelistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getfavoritelist</servlet-name>
        <servlet-class>servlet.getfavoritelist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>servlet.logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otherpost</servlet-name>
        <servlet-class>servlet.otherpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getpost</servlet-name>
        <servlet-class>servlet.getpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>servlet.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editprofileServlet</servlet-name>
        <servlet-class>servlet.editprofileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotServlet</servlet-name>
        <servlet-class>servlet.forgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>servlet.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addImageServlet</servlet-name>
        <servlet-class>servlet.addImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostpopServlet</servlet-name>
        <servlet-class>servlet.mostpopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentServlet</servlet-name>
        <servlet-class>servlet.commentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofileServlet</servlet-name>
        <servlet-class>servlet.getprofileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homepageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favoritelistServlet</servlet-name>
        <url-pattern>/favoritelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getfavoritelist</servlet-name>
        <url-pattern>/getfavoritelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otherpost</servlet-name>
        <url-pattern>/otherpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getpost</servlet-name>
        <url-pattern>/getpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editprofileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotServlet</servlet-name>
        <url-pattern>/forgotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addImageServlet</servlet-name>
        <url-pattern>/addImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostpopServlet</servlet-name>
        <url-pattern>/mostpop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofileServlet</servlet-name>
        <url-pattern>/getprofile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
